{% extends 'layout.njk' %}

{% set pageId = "page-home" %}

{% block styles %}
  <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block header %}
{% endblock header %}

{% block content %}
  <div class="home-header">
    <div class="header-texts">
      <h2>As melhores receitas</h2>
      <p>Aprenda a construir os melhores pratos com receitas profissionais 
        criadas por profissionais do mundo inteiro
      </p>
    </div>
    <div class="header-img">
      <img src="/assets/chef.png" alt="Imagem do chef">
    </div>
  </div>

  <main>


  </main>
{% endblock %}