{% extends 'layout.njk' %}

{% set pageId = "page-home" %}

{% block styles %}
  <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block header %}
{% endblock header %}

{% block content %}
  <header class="home-header">
    <h1></h1>
  </header>

  <main>


  </main>
{% endblock %}